<p>
  <%= @tweet.content %>
</p>
<div class="field is-grouped">
  <div class="control">
    <%= link_to 'Edit', edit_tweet_path(@tweet), class:"button is-info" %>
  </div>
  <div class="control">
    <%= link_to 'Back', home_path, class:"button is-info is-outlined" %>
  </div>
</div>
